*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body{
  background: url('https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
  background-attachment: fixed;
  background-size: cover;

}
.p1{
  padding: 1rem;
}
.p2{
  padding: 2rem;
}
.m1{
  margin: 1rem;
}

.center-content{
  display: flex;
  justify-content: center;
}
.container{
  width: 90%;
  max-width:1000px;
  margin:auto;
  height: auto;
  display:flex;
  flex-direction: column;  
  align-items:center;
}
.img-page img{
  width: 80vw;
  height: 300px;
}

.register-login{
  width: 80vw;
  text-align: center;
  background-color:rgba(41, 15, 32, 0.1); 
  color:#11080f; 

}

.form-group{
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group input{
   height: 40px;  
   width: 100%;
   border-radius: 20px;
   border: 1px solid #dd5570;
   margin: 0.5rem;
   padding: 7px 20px 7px 20px;

}

.form-group button{
  height: 40px;
  width:80%;
  border-radius: 20px;
  background: rgb(161, 47, 133);
  border:none;
  color: white;
  margin:1rem;
}
.form-group label{
  color: rgb(161, 47, 133);
  font-weight: bold;
}

.login-social{
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-social img{
  margin:1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

<<<<<<< HEAD
=======

>>>>>>> f1ed317fc39fe53b9637793a624ff7d7fc5d4956
@media (min-width: 768px) {

  .container{
    display:flex;
    flex-direction: row;
    align-items:center;
    height: 100vh;
  }
  .h7{
    height: 700px;
  }
  .img-page{
    flex:1 1 50%;
     display: flex;
    justify-content: center;
    align-items: center;
  }
   .main {
    flex:1 1 50%;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;

  }
  .img-page img{
    width: 40vw;
    height: 50vh;
  }
  .register-login{
    width: 30vw;
  }
  .form-group button{
    width:40%;
  }
/*
  .form-group input{
   width: 60%;
  }

  .
*/

}


