@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body{
 /* background: url('../img/fondo2.jpeg');*/
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.p1{
  padding: 1%;
}
.p2{
  padding: 2%;
}
.p4{
  padding: 4%;
}
.m1{
  margin: 1%;
}
.m2{
  margin: 2%;
}
.mp{
  margin: 1% 0%;
}
.mp2{
  margin: 2% 0%;
}

.mt{
  margin-top: 1%;
}
.mb{
  margin: 0% 1%;
}
.color-text-like{  
  font-weight: bold;
  font-size: 20px;
}
.color-text {
  color :#522e4a;
}
.font-bold{
  font-weight: bold;
}
.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

 .text-right{
   text-align: right
 }
.color-title{
  color :#c0e2e4;
  font-weight: bold;
}
.center-content{
  display: flex;
  justify-content: center;
}

.display-none{
    display: none;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}

main{
  margin-top:100px;
}
.align-center{  
 align-items:center;
}
.display-flex{
  display: flex;
}

/****** LOGIN  *****/
.container{
  width: 90%;
  margin: auto;
  height: auto;
 /* background: yellow;*/
  display: flex;
  flex-direction: column;
  align-items: start;
}
.img-content{
  width: 98%;
  height: auto;
 /* background: red;*/
}
.img-content  img{
  width :100%;
  height:100%;
/*  border:1px solid yellow; */
}
.forms-content{
  width: 98%;
  height: auto;
 /* background: blue;*/
}

.register-login{  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background :#522e4a;*/
  color:	#522e4a;
}
.img-logo {
  width :80%;
  height:15vh;
  margin: 3%;  
}

.form-group{
  width: 60vw;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input{
   height: 40px;  
   width: 100%;
   border-radius: 20px;
   border: 2px solid #c0e2e4;
   margin: 0.5rem;
   padding: 7px 20px 7px 20px;
}


.form-group button{
  height: 40px;
  width:50%;
  border-radius: 20px;
  border:none;
  background: #5AC39B;
  color: #522e4a;  
  margin:1rem;
  font-weight: bold;
}

.form-group button:hover{
  background: #522e4a;
  color:#5AC39B;
  
}

.login-social img{
  margin:1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

span a{
  color: #5AC39B;
  font-weight: bold;
}
/*** MENU DE NAVEGACION **/

header{
  width: 100%;
  height: 80px;
  background:#5d3e4b;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.container-header {
  width: 90%;
  margin: auto;
  display: table;
}

.logo-design{
  display: flex;
  padding: 0.2rem
} 

.logo-design img{
  width: 180px;
  height: 40px;
  margin: 1rem
} 

.logo-design label{
  font-size: 20px;
  margin: 0.5rem;
  border:1px solid #5AC39B;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  color:  #5AC39B;
  ;
}
.navbar{
    position: absolute;
    width: 100%;
    height: auto;
    background:#5d3e4b;
    left: 0;
    top:80px;
    transform:translateX(-100%);
}    
.main-nav li{
    list-style: none;       
}
.main-nav li a{ 
    line-height: 25px;   
    display: block; 
    color: #5AC39B;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;    
    border-top: 1px solid rgb(255,255,255,0.5);
    text-align: center;
}
.main-nav li a:hover{
    background:  rgb(255,255,255,0.2);
}
#toggle:checked ~ .navbar{
  transform:translateX(0%);
}

/**** PAGE HOME *****/
.container-home{
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.profile-content{
  border: 1px solid  #7c817e;
  width: 100%;
  height: auto;
  color:#5d3e4b;;
}

.img-section{
  width: 100%;
  height: 100px;
}

.perfil-user {
  display:flex;
  align-items: center;
}

.perfil-no-user {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.perfil-user img{
  width:20%;
  height:15%;
  border:1px solid #5AC39B;
  border-radius: 50%;
  margin: 5%;
}

.posts-content{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;  
  border: 1px solid  #7c817e;
}

.public-posts{
  width:100%;
}

.form-post{
  width: 98%;
  height: auto;
  border:2px solid #7c817e;
  border-radius: 5px; 
}
.form-post textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border:1px solid #5AC39B;
  padding: 7px 20px 7px 20px;
}


.user-post{
  border-radius: 3px 3px 0px 0px;
  background: #5AC39B;
  color: 	#5d3e4b;
  font-weight: bold;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.options-privacy{
  background: #522e4a;
  height: 40px;
  border-radius: 5px;
  color:#5AC39B;
}
/*
.icons{
  cursor: pointer;
  font-size: 25px;
  color:#5d3e4b
}
i:hover{
  color: #765c66;
}*/

 /*
 
 plomo : #7c817e

 #5AC39B
 
 */
 .separating-line{
  color: #0056b2;
  margin: 0.5rem 0rem 0rem 0rem;
 }

.icons-action{
  cursor: pointer;
  font-size: 20px;
  
}

.btn-circle {  

  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 50%;
  background:#5AC39B;
  border :1px solid  #5AC39B;
  color:#522e4a ;
  
}

.btn-circle:hover{
  background:#7c817e;
  border :1px solid  #7c817e;
  color:#522e4a ;
}


/* ESTILOS DE FORMUALRIO DE COMENTARIOS */
.icons-comment{
  cursor: pointer;
  font-size: 15px;
  
}

.btn-circle-comment {  
  width: 30px;
  height: 30px;
  padding: 3px 0px;
  border-radius: 50%;
  border :1px solid #522e4a;
  background: #522e4a;
  color:#5AC39B ;
  
}

.btn-circle-comment:hover{
  background:#7c817e;
  border :1px solid  #7c817e;
  color:#522e4a ;
}

.form-comment{
  display: flex;
  width: 100%;
 
}
.form-comment input{
  width: 91%;
  height: 35px;
  border-radius: 5px;
  border:1px solid #5AC39B;
  padding: 7px 20px 7px 20px;
}

.comment-post{  
  background:rgba(41, 15, 32, 0.1);
}
.user-post-comment{
  display: flex;
  justify-content: space-between;
}

.comment-post input{  
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border:1px solid #5AC39B;
  padding: 7px 20px 7px 20px;
}



/*    perfil  del usuario */

.container-perfil{
  display: flex;
  justify-content: center;  
}

.describe-perfil{
  background:rgba(226, 226, 247, 0.6);
  padding: 2rem;
}
.color-perfil{
  font-weight: bold;
  color: #5AC39B;
}
.item-perfil{
  margin: 0.5rem;
  text-align: center;
  color :#522e4a ;
  font-size:20px;
}
.item-perfil strong{
  color: #3d4640 
}
.img-perfil-user{
  width:200px;
  height:200px;
  margin: 40px 90px;
  border: 5px solid transparent;
  border-radius: 100%;
}

.form-groups{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-groups button{
  height: 40px;
  width:50%;
  border-radius: 20px;
  border:none;
  background: #5AC39B;
  color: #522e4a;  
  margin:1rem;
  font-weight: bold;
}
.form-groups button:hover{
  background:#3B3A3A;
  color:#c0e2e4;  
}

.edit-perfil{
  background:rgba(226, 226, 247, 0.6);
  align-items: center;
  color: #522e4a;
  font-weight: bold;
  font-size: 18px;

  
}
.form-groups textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border:1px solid #5AC39B;
  padding: 7px 20px 7px 20px;
}















/*---------------------------------------------------------*/
          /*DESKPOT */
/*---------------------------------------------------------*/

@media (min-width: 768px) {
  /****** LOGIN  *****/

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh; 
}

.img-content{
  width: 58%;
  height: 85vh;
  align-items: center;
}
.img-content  img{
  width :80%;
  height:80%;
  align-items: center;
}
.forms-content{
  width: 40%;
  height: 85vh;
  display: flex;
  align-items: center;
}

.img-logo {
  width: 60%;
  height:18vh;
 }
 .form-group{
  width: 25vw;
 }

 /*** MENU DE NAVEGACION **/
    .container-header label{
        display: none
    }
    .navbar {
      position: static;
      display: flex;
      justify-content:flex-end;
      width: auto;             
      transform: translateX(0%);
    }

    nav ul li {
        display: inline-block;      
    }
    .main-nav li a {
      border-top: none;  
      line-height: 80px;
      padding:0 2rem;   
    }

   /***PAGE HOME**/

   .container-home{
      display: flex;
      flex-direction: row;      
    }
    .profile-content{
      width: 26%;
      height: auto;
    }
    .perfil-user img{
      width:40%;
      height: 15vh;
    }

    .posts-content{      
      border: 1px solid  #7c817e;
      width: 70%;
      height: auto;
    }



}







