body {
    padding: 0px;
    margin: 0px;
    background-image: url("https://unsplash.com/photos/OrwkD-iWgqg");
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    height: auto;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
}
.img-logo {
        width: 60%;
        background-color:rgba(255, 250, 250, 0.1);
}
.logo {
  padding: 10px 25px;;
}

h2 {
    color: #2e0627;
    font-size: 20px;
}

.conteiner{
    background-color:rgba(0, 0, 0, 0.1);
    width: 60%;
    padding: 40px;
    margin: 150px 22px;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 66%;
    max-width: 400px;
    margin: 32px auto;
    text-align: center;
    /* height: 90vh; */
    font-size: 18px;
    color: #ffffff;
    font-size: 12px;
}

label {
  font-size: 17px;
  color: #2e0627;
}

.login {
    justify-content:flex-end;
    align-items:flex-start;
}


#btn-registrarse, #btn-acceder {
  color: rgb(44, 4, 31);
  width: 50%;
  transition: all ease .3s;
  background: rgb(161, 47, 133);
  outline: none;
  box-shadow: none;
  border: 1px solid #f7a1d3;
  padding: 9px;
  border-radius: 5px;
  margin: 20px;
  font-size: 14px;
  text-align: -webkit-center;
}

.ico-fb, .ico-google, .icon{
  width: 45px;
  padding: 4px 0px 0px;
  margin: 10px 4px 0px; 
  cursor: pointer;
}

 .contenedor{
  padding: 100px 0px;
  width: 100%;
  /* max-width: 400px; */
  margin: 20px auto;
  text-align: center;
  font-size: 15px;
}


@media screen and (min-width:480px) {

  body {
    background-image: url("https://unsplash.com/photos/OrwkD-iWgqg");
    background-repeat: no-repeat;
    background-size: cover;
}

#btn-cerrar-sesion {
  margin: 25px 65px 25px auto;
}
}